<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AutomationTests" verbose="1" >
    <test name="NewAutomationTests" >
        <packages>
            <package name="de.brueckner.fph.acceptance" />
        </packages>
    </test>

    <test name="OldAutomationTests" >
        <packages>
            <package name="de.brueckner.fph.oldtests.acceptance.applicationSettings" />
        </packages>
    </test>
</suite>

